{% extends 'base.html' %}

{% block content %}
  <div class="row">
  <div class="col">
<h3>Telephone Directory Detail</h3>
    </div>
  <div class="col text-right">
    <h2>{{ object.name }}</h2>
  </div>
  </div>
  <div class="row">
  <div class="col-8">
    <div class="btn-group-vertical">
      <button data-toggle="collapse" data-target="#welcome-messages" type="button" class="btn btn-primary">Welcome Message</button>
      <button data-toggle="collapse" data-target="#contact-info" type="button" class="btn btn-primary">Contact Info</button>
      <button data-toggle="collapse" data-target="#directory-details" type="button" class="btn btn-primary">Details</button>
    </div>
    <div id="welcome-messages" class="collapse p-2">
      {{ object.welcome_message }}
    </div>
    <div id="contact-info" class="collapse p-2">
      Contact Name: {{ object.contact_name }}<br>
      Email: {{ object.contact_email }}<br>
      Phone: {{ object.contact_telephone }}<br>
    </div>
    <div id="directory-details" class="collapse p-2">
      Tenants/Residents can add up to {{ object.max_telephones_per_tenant }}
      phone numbers.  This was set on creation and can be changed any time.  This
      should be dependent on the type of Telephone Directory being managed.
    </div>
  </div>
  <div class="col-4 text-right">
    <a href="{% url 'edit-directory' object.slug %}" class="btn btn-warning">Edit Directory Details</a>
  </div>
  </div>
{#<div class="card" style="width:400px">#}
{#  <img class="card-img-top" src="img_avatar1.png" alt="Card image">#}
{#  <div class="card-body">#}
{#    <h4 class="card-title">{{ object.name}}</h4>#}
{#    <p class="card-text">Some example text.</p>#}
{#    <a href="{% url 'edit-directory' object.slug %}" class="btn btn-primary">Edit details</a>#}
{#  </div>#}
{#  <ul class="list-group list-group-flush">#}
{##}
{#    <li class="list-group-item">Contact Email: {{ object.contact_email }}</li>#}
{#    <li class="list-group-item">Contact Telephone: {{ object.contact_telephone }}</li>#}
{#        <li class="list-group-item">{{ object.tenants.count }} tenants so far</li>#}
{#    <li class="list-group-item">Invitations Sent:   {{ object.invitations.count }}#}
{#      <a href="{% url 'create-invitation' object.slug %}" class="btn btn-success btn-outline-dark">Send invitation</a></li>#}
{#  </ul>#}
{#</div>#}
  <div class="row p-2 text-right">
    <div class="col text-right">
      <a href="#" class="btn btn-dark">Download CSV file of the data</a>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-md-6">
      <h2 class="h3">Tenant List</h2>
    </div>
  <div class="col-md-6 text-right">
    <a href="{% url 'create-invitation' object.slug %}" class="btn btn-primary">
      Invite via SMS or Email
    </a>
  </div>
  </div>
  <div class="row pt-2">
  {% for tenant in object.tenants.all %}
    <div class="col-md-4 p-2">
    <div id="accordion">
      <div class="card">
        <div class="card-header">
          <a class="card-link" data-toggle="collapse" href="#collapse{{ tenant.id }}">
            <button class="btn btn-outline-dark w-100"> {{ tenant.name }}</button>
          </a>
        </div>
        <div id="collapse{{ tenant.id }}" class="collapse" data-parent="#accordion">
          <div class="card-body text-center">
            {% for number in tenant.numbers.all %} ({{ number.number }})<br>{% endfor %}
          </div>
          <div class="card-footer">
            <div class="btn-group-vertical w-100">
              <a href="{% url 'create-invitation-from-tenant' object.slug tenant.pk %}" class="btn btn-primary">
                Send New Link
              </a>
              <a href="{% url 'tenant-view' object.slug tenant.pk %}" class="btn btn-warning">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  {% endfor %}
  </div>
  <br>
{#  <div class="col-12">#}
{##}
{#  <table class="table table-striped table-responsive-sm">#}
{#  <thead>#}
{#  <tr>#}
{#    <th>Name</th>#}
{#    <th>Numbers</th>#}
{#    <th>Link detail</th>#}
{#    <th></th>#}
{#  </tr>#}
{#  </thead>#}
{#  <tbody>#}
{##}
{#  {% for tenant in object.tenants.all %}#}
{#    <tr>#}
{#    <td>{{ tenant.name }}</td>#}
{#    <td>{% for number in tenant.numbers.all %} ({{ number.number }}) {% endfor %}</td>#}
{##}
{#    <td>{{ tenant.invites_and_uses }}</td>#}
{#    <td><a href="{% url 'create-invitation-from-tenant' object.slug tenant.pk %}" class="btn btn-success">Send Edit Link</a></td>#}
{#    </tr>#}
{#  {% endfor %}#}
{#    <tr>#}
{#      <td></td>#}
{#      <td></td>#}
{#      <td>{{ object.unused_invitations }}</td>#}
{#      <td><a href="{% url 'create-invitation' object.slug %}" class="btn btn-success">Send New Link</a></td>#}
{#  </tr>#}
{#  </tbody>#}
{#  </table>#}
{#  </div>#}
{% endblock %}