{% extends 'base.html' %}

{% block content %}
<h2>
  Tenant Detail
</h2>
  <div class="card" style="width:600px">
  <div class="card-body">
    <h4 class="card-title">{{ tenant }}</h4>
    {% for number in tenant.numbers.all %}
      <p>{{ number.name }} - {{ number.number }}</p>
    {% endfor %}
  <p>Contact Email: {{ tenant.contact_email }}</p>
{#    <p class="card-text">Some example text.</p>#}
    <a href="{% url 'view-directory' slug=object.directory.slug %}" class="btn btn-danger">Back</a>
   <a href="{% url 'create-invitation-from-tenant' slug=object.directory.slug tenant=tenant.pk %}" class="btn btn-success">Create Invitation</a>
  </div>


    <ul class="list-group list-group-flush">
 {% for invitation in tenant.invitations.all reversed %}
    <li class="list-group-item {{ invitation.bg_color }}">{{ invitation.active_status }}.  Links are created at the moment they are sent to the tenant.
    Below is the link sent.  You may resend it if still active.<br>

      <p><a href="{% url 'invitation' pk=invitation.pk %}">{{ invitation.link }}</a></p>
        <p>{{ invitation.uses.count }} uses of {{ invitation.max_uses }} maximum uses.</p>
    <p>Invitations Created and Sent: {{ invitation.created_at }}</p>
    <p>Sent to {{ invitation.name_sent_to }} at {{ invitation.number_sent_to }} {{ invitation.email_sent_to }}</p>
   </li>
 {% endfor %}

  </ul>

</div>
{% endblock %}