<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Thank you!</title>
</head>
<body><h3 style="width: 500px">
Thank you for submitting.  This information will be used to configure the automated gate system directory.
  It will not be sold, released publicly, shared with, or retained any longer than is necessary to
  deploy your community's new Access Control Directory.  <br><br>
  If you have any questions, please contact housing or property management.  Thank you
  </h3>
</body>
</html>